@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=DotGothic16&family=Yuji+Syuku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');

.container{
    position: absolute;
    height: 100vh;
    width: 80vw;
    color: white;
    background-color: rgb(0, 0, 0);
}
.InfoContainer{
    display: flex;
    flex-direction: row;
}
.circle{
    position: absolute;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: transparent;
}
.circle1{
    width: 30px;
    height: 30px;
}
.circle2{
    width: 25px;
    height: 25px;
}
.circle3{
    width: 20px;
    height: 20px;
}
.CenterBoxContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.CenterBoxContainer.visible {
    opacity: 1;
    display: block;
}
.CenterBoxContainer.hidden {
    opacity: 0;
    display: none;
}
.CenterBox {
    position: relative;
    width: 800px;
    max-width: 700px;
    height: 700px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    text-align: center;
    font-family: "Zen Old Mincho", serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.CenterBox h1 {
    font-size: 4vw;
    color: #ffffff;
    font-weight: 800;
    font-family: Syne;
    text-transform: uppercase;
    align-items: center;
}
.CenterBox h2 {
    align-items: center;
    color: #ffffff;
    font-size: 1.3vw;
}
.CenterBox p {
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
}
.CloseButton{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
}


.MenuContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
    color: #ffffff;
    padding: 1.5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.185);
}
.LeftTitle{
    margin-left: 5%;
}
.LeftTitle h1{
    font-size: 2.7vw;
    color: #ffadad;
    font-weight: 800;
    font-family: Syne;
    text-transform: uppercase;
    text-align: center;
}
.LeftTitle h2{
    font-size: 1.2vw;
    color: #ffffff;
    font-family: "Zen Old Mincho", serif;
    font-style: normal;
    text-align: center;
}
.LeftTitle p {
    font-size: 1rem;
    color: #ffffff;
    font-family: "Zen Old Mincho", serif;
    font-style: normal;
    text-align: left;
}
.RightTitle{
    margin-right: 5%;
    font-size: 1.5vw;
    font-weight: 800;
    font-family: Syne;
    text-transform: uppercase;
    margin-bottom: 10px;
    transition: all .25s linear;
    cursor: pointer;
    transform: scale(0.8); 
}
.RightTitle:hover{
    color: #ff9393;
    transition: all .32s linear;
    transform: scale(1); 
}