/* Header.module.css */
.Container {
    position: relative;
    background-color: black;
    top: 100vh;
    height: 100vh;
    width: 100vw;
    background-image: url("../../public/White.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

.circle{
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    border: 4px solid #000;
    width: 200px;
    height: 200px;
}

.last{
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    background-color: rgb(93, 49, 238);
}
