.container {
    top: 100vh;
    position: absolute;
    color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(14px);
  }

  .MyPictureContainer {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 4%;
  }
  .img {
    width: 80%;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px 3px #ffffffb3;
  }
  .MyImg {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
  }

  .IntroduceContainer {
    flex: 1.5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 0 4%;
}

/* .IntroduceContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/42Tokyo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -2;
}

.IntroduceContainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
} */

  .IntroduceContainer h1{
    flex: 0.5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-family: "Shippori Mincho", serif;
    font-style: normal;
    z-index: 3;
  }

  .IntroduceContainer p {
    flex: 4;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    font-family: "Zen Old Mincho", serif;
    font-style: normal;
    letter-spacing: 0.05em;
    line-height: 1.6;
    z-index: 3;
}


  @media screen and (max-width: 767px) {
    .container {
        position: unset;
        flex-direction: column;
        background-color: black;
        padding: 0 4%;
    }

    .IntroduceContainer {
        flex: 2;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .IntroduceContainer h1 {
      font-size: 1.4rem;
    }

    .IntroduceContainer p {
      font-size: 0.6rem;
      line-height: 2.0;
    }
}