@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
.Navbar{
    padding: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 5px;
    letter-spacing: 1px;
    font-family: 'Syncopate', sans-serif;
    color: white;
    background-color: black;
    font-weight: 600;
    text-transform: uppercase;
    list-style: none;
    position: fixed;
    width: 100%;
}

@media (min-width: 768px) {
    .Navbar {
        font-size: 5px; 
    }
}

@media (min-width: 1024px) {
    .Navbar {
        font-size: 15px;
    }
}