section {
  display: grid;
  place-content: center;
  height: 100vh;
  background-image: url('../../public/blackPaper.jpg');
  background-size: cover;
}

.img_carousel {
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow-x: hidden;
  background-image: url('../../public/blackPaper.jpg');
  background-size: cover;
}

.overflowNone {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow-x: none;
}
