.container {
    position: absolute;
    color: whitesmoke;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(14px);
  }
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: right;
    font-family: "Shippori Mincho", serif;
    font-style: normal;
    /* background-color
    : red; */
    padding: 0 4%;
    
  }
  .textContainer a{
    padding: 0 4%;
    text-decoration: none;
    color: inherit;
    padding: 0 4%;
    text-align: right;
    letter-spacing: 0.04em;
    line-height: 3;
  }
  .MyPictureContainer {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .MyPictureContainer img {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
    padding: 4% 4%;
  }
  
  .IntroduceContainer {
    flex: 1.5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 4%;
    /* background-color: pink; */
  }
  .IntroduceContainer h1{
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 400;
    color: white;
    font-family: "Shippori Mincho", serif;
    font-style: normal;
  }
  .IntroduceContainer p {
    flex: 4;
    display: flex;
    align-items: start;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    font-family: "Zen Old Mincho", serif;
    font-style: normal;
    letter-spacing: 0.08em;
    line-height: 2;
    padding: 0 4%;
}


  @media screen and (max-width: 767px) {
    .container {
      position: unset;
      display: flex;
      justify-content: center;
      text-align: center;
      background-color: black;
    }

    .MyPictureContainer {
     display:  none;
    }
    
    .MyPictureContainer img {
      display:  none;
    }

    .IntroduceContainer {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .IntroduceContainer h1 {
      flex: 0.5;
      font-size: 2.1rem;
    }

    .IntroduceContainer p {
      flex: 1;
      font-size: 0.7rem;
      line-height: 2.8;
    }
}